#text-primary-form{
    font-size: 18px;
    text-align: center;
}
#title-portal{
    font-size: 40px;
}
#card-form-login{
    border: none !important;
    background-color: unset !important;
    box-shadow: none !important;

}
#card-form-login a{
 color: #707070 !important;
}
#logoandtext-contra{
    padding-left: 65px;
}
#logoandtext-contra span{
    font-size: 1rem;
    margin-left: unset;
}
#email, #password{
    border-radius: 25px;
    padding: 7%;
}
#btn-login{
    border-radius: 25px;
    width: 65%;
    margin: auto;
    height: 41px;
}
.div-total{
    padding-top: unset !important;
}
